node_modules
.sass-cache
bower_components
jspm_packages
*.log
coverage
*.log
.vscode
.idea
.tmp
testing
.publish
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
profile
dist
