{{> header}}
<div class="canvas-wrap">
    <canvas id="canvas"></canvas>
</div>
<div class="container">
       <h1>ari.sh is a growth marketing agency for blockchain projects</h1>

<div class="pitch">
    <h2>Consumer-grade Marketing</h2>

<p>Our clients and us share a big vision – pushing distributed projects from the nerds to the herds. With a team of startup marketers, our craft is to bring new, techy ideas to full adoption. </p>

<h2>Reimagined for the Distributed Economy</h2>

<p>We study of what effective marketing means for decentralized projects. There are unique challenges with a liquid investor market and lack of centralized decision making, and we practice sustainable marketing.  With ongoing questions of the credibility of the industry, players in the market and lack of investor confidence, we study the perception of trust and make our clients look like a million bucks.  legitimize the distributed economy</p>
</div>



<div class="core">
<div>
        <h2>Visibility</h2>
<p>We help you stand out. We make sure the right story is reaching the right audience at the appropriate place and time. </p>

<ul>
<li>PR / media training / web monitoring </li>
<li>Influencers, engagements, media training</li>
<li>Paid advertising</li>
<li>Syndication</li>
<li>Business development </li>
</ul>
</div>

<div>
    <h2>Presentation</h2>
<p>We help you look reputable. We want your project to scream legitimacy, have a clear, consistent, and differentiated voice. Rise above the crypto-wild-west. </p>

<ul>
<li>Brand and creative development </li>
<li>Web optimization</li>
<li>Properties optimization</li>
<li>Customer feedback</li>
<li>Tailored content to target market</li>
</ul>
</div>

<div>
    <h2>Retention</h2>
<p>We help you connect beyond the coin. Avoid the trap of short term hype or audience seeking for quick gains – we want the investors to be your followers. </p>

<ul>
    <li>Community development</li>
<li>Content development </li>
<li>CRM management </li>
</ul>
</div>
</div>


<footer>
<div>
        <h2>From brooklyn with love</h2>
<p>Being based in an the most diverse center of finance, technology, and culture – we are able to be a cultural bridge for our clients. We foster diverse of the target market, and able to reach and connect the with untapped audience that would care about your brand. 
</p>
</div>
<div>
    <h2>Get in touch</h2>
<p>We would love to assess possible collaboration. You can reach out directly to Alex, our client relationships partner at <a href="mailto:alex@ari.sh">alex@ari.sh</a>. We would love to say hi! </p>
</div>
</footer>
</div>
{{> js}}