{{> header}}
<div class="container">
        <h1>Congratulations</h1>
        <h3>Your project is running, so what's Next?</h3>
        <hr>
{{#each posts}}
    <div class="post">
        <h4><a href="{{url}}">{{title}}</a></h4>
        {{#if date}}
            <p class="post-meta">
                {{date format="MMMM Do YYYY"}}
            </p>
        {{/if}}
        <p>{{{excerpt characters=100}}}...</p>
    </div>
{{/each}}
</div>
{{> js}}