{{> header}}
<div class="container">
{{> navigation}}
    {{#post}}
    <div class="row">
        <article class="main col-md-8">
            <h1>{{title}}</h1>
            {{{body}}}
        </article>
        <aside class="sidebar col-md-4">
            {{> sidebar}}
        </aside>
    </div>
    {{/post}}
{{> footer}}
</div>
{{> js}}