{{> header}}

<div class="container">
    {{> navigation}}
    {{#post}}
    <div class="row">
        <article class="col-md-9">
            <h1>{{title}}</h1>
            {{{body}}}
        </article>
        <aside class="sidebar col-md-3">
            {{> sidebar}}
        </aside>
    </div>
    {{/post}}
    {{> footer}}
</div>