<footer class="footer">
    <p>Site built by <a href="http://github.com/lazy-8/base">lazy8/base</a>, a <a href="http://github.com/ducksoupdev/gulp-site-generator">Gulp site generator</a> fork.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>


