{{#if allDates}}
        <h4>Archives</h4>
        <ul>
            {{#each allDates}}
                <li>
                    <a href="{{dateLink}}">{{dateStr}}</a>
                </li>
            {{/each}}
        </ul>

{{/if}}
{{#if allTags}}
        <h4>Tags</h4>
        <ul>
            {{#each allTags}}
                <li>
                    <a href="{{tagLink}}">{{tag}}</a>
                </li>
            {{/each}}
        </ul>

{{/if}}
    <h4>Elsewhere</h4>
    <ul>
        <li><a href="#">
        <i class="fa fa-github"></i>
        GitHub
        </a></li>
        <li><a href="#">
        <i class="fa fa-twitter"></i>
        Twitter
        </a></li>
        <li><a href="#">
        <i class="fa fa-facebook"></i>
        Facebook
        </a></li>
    </ul>
