
@include font-face(millerdisplay-light);

body {
	color: white;
	font-family: millerdisplay-light;
	font-size: 20px;
	padding: 60px 0;
}
h1 {
	font-family: pistilli;
}
a {
	text-decoration: underline;
	color: #eee;
	@include transition;
	&:hover {
		color: white;
	}
}

h1 {
	font-size: 70px;
	line-height: 110%;
}

h2 {
	font-size: 30px;
	font-family: pistilli;
	&:first-of-type {
		margin-top: 0;
	}
}

.core, footer, .pitch {
	border-top: solid 1px white;
	padding-top: 60px;
	margin-top: 60px;
}
