
@include font-face(millerdisplay-light);

body {
	color: $color-fg;
	font-family: millerdisplay-light;
	font-size: $gap2;
	padding-top: $gap6;
	// .container, footer {
	// 	display: none;
	// }
}

.container {
	width: $bp;
	@include media($bp, max) {
		width: 100%;
	}
}
h1 {
	font-family: pistilli;
}
a {
	text-decoration: underline;
	color: $color-fg;
	@include transition;
	&:hover {
		color: $color-fg;
	}
}

h1 {
	font-size: 70px;
	line-height: 110%;
}

footer {
	background-color: $color-fg;
	font-size: 15px;
	color: $color-bg;
	padding: $gap3 0;
	margin-top: $gap6;
}

h2 {
	font-size: $gap3;
	font-family: pistilli;
	&:first-of-type {
		margin-top: 0;
	}
}

section {
	border-top: solid 1px $color-fg;
	padding-top: $gap6;
	margin-top: $gap6;
}
