
@include font-face($font-1);
@include font-face($font-2);

body {
	color: $color-fg;
	font-family: $font-1;
	font-size: $gap2;
	padding-top: $gap8;
}


.logo {
	z-index: 1000;
	position: -webkit-sticky;
	position: sticky;
	top: $gap13;
	margin-top: -10px;
	text-align: right;
	.thelogo {
		width: 140px;
		margin-top: ($gap15 * -1);
		height: 140px;
		background-color: #fff;
		@include shadow(normal, 5px 5px 0 rgba(0, 0, 0,0.05));
		@include radius(normal, 50%);
		float: right;
		margin-right: $gap3;
		background-size: 110px 110px;
		background-repeat: no-repeat;
		background-position: 10px 10px;
		background-image: url('../images/logo.svg');

	}
}
.line {
	margin-top: $gap13;
	// position: -webkit-sticky;
	// position: sticky;
	// top: -10px;
	.container {
		vertical-align: bottom;
	}
	hr {
		border-top: solid 1px $color-fg;

	} 

}



.cover {
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 50px;
	}
}

.container {
	width: $bp;
	@include media($bp, max) {
		width: 100%;
	}
}
h1 {
	font-family: $font-1;
}
a {
	text-decoration: underline;
	color: $color-fg;
	@include transition;
	&:hover {
		color: $color-fg;
	}
}


.row:not(:first-of-type) {
	padding-top: $gap8;
}


footer {
	background-color: $color-fg;

	font-family: $font-2;
	font-size: 15px;
	color: $color-bg;
	padding: $gap3 0;
	margin-top: $gap5;
}

.title {
	font-size: 40px;
	h2 {
		margin-top: 0;
	}
}
.text {
	font-size: 20px;
}

section {
	padding-bottom: $gap6;
	&:not(:last-of-type) {
		margin-bottom: $gap6;
		border-bottom: solid 1px $color-fg;
	}
	h1 {
		font-size: 20px;
		font-family: $font-2;
		margin-top: 0;
		text-transform: uppercase;
		padding-bottom: $gap2;
	}
}
