body {
     margin: 0;
    // learn rules and options at https://www.sitepoint.com/building-linear-gradient-mixin-sass/
    @include gradient(0deg,  $color-brand,  #fbf7ed);
}
.canvas-wrap {
	position:relative;
	padding:10%;
	z-index: -100;
	position: fixed;
    margin: auto;
    top: 0%;
    left: 0%;
	height:100%;
	width:100%;
	box-sizing:border-box;
	@include fadeIn($duration: ($dr * 30), $delay: ($dl * 4));
}

#canvas {
	position: fixed; 
	@include opacity(80); 
/* 	position: relative; */
    margin: auto;
    top: -5%;
    left: -5%;
	height:110%;
	width:110%;
}