// (`ㅅ`)づ framework imports

@import "./bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// (`ㅅ`)づ global imports

@import "variables";
@import "mixins";

// (`ㅅ`)づ project imports

@import "layout";

@include font-face(lentil);
@include font-face(pistilli);

body {
	background-color: black;
	color: white;
	font-family: Georgia, Serif;
	font-size: 20px;
}
h1 {
	font-family: pistilli;
}

h1 {
	font-size: 70px;
	line-height: 110%;
}

h2 {
	font-size: 30px;
	font-family: pistilli;
}

.container {
	width: 700px;
	padding: 60px 0;
}

.core, footer, .pitch {
	border-top: solid 1px white;
	padding-top: 40px;
	margin-top: 40px;
}

.core {
	display: table;
	width: 100%;
	font-size: 15px;
	& > * {
		display: table-cell;
		width: (100% / 3) !important;
		&:not(:last-of-type) {
			border-right: solid 1px white;
			padding-right: 30px;
		}
		&:not(:first-of-type) {
			padding-left: 30px;
		}
	}
}