@font-face {
    font-family: "Pistilli";
    src: url("pistilli.eot");
    src: url("pistilli.eot?#iefix") format("embedded-opentype"),
         url("pistilli.woff2") format("woff2"),
         url("pistilli.woff") format("woff"),
         url("pistilli.ttf") format("ttf"),
         url("pistilli.svg#Pistilli") format("svg");
    font-style: normal;
    font-weight: normal;
}