font-family:'Avenir LT W01 35 Light';
font-family:'AvenirLTW01-35LightObli';
font-family:'Avenir LT W01 45 Book';
font-family:'AvenirLTW01-45BookObliq';
font-family:'Avenir LT W01 55 Roman';
font-family:'AvenirLTW01-55Oblique';
font-family:'Avenir LT W01 65 Medium';
font-family:'AvenirLTW01-65MediumObl';
font-family:'Avenir LT W01 85 Heavy';
font-family:'AvenirLTW01-85HeavyObli';
font-family:'Avenir LT W01 95 Black';
font-family:'AvenirLTW01-95BlackObli';
